# Gradle
.gradle
build/
web-docs/
pds-repo/

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
out/

# Compilierte Jars
*.jar
!/gradle/wrapper/*.jar

# Logging & Temp
*.log
/tmp/

# OS spezifische Dateien
.DS_Store
Thumbs.db

# Plugin Configs (Lokal zum Testen)
/plugin/run/
/run/